<%- include ('../../partials/header.ejs') %>
<%- include ('../../partials/navbar.ejs') %>
<div class="container">
    <br>
    <div class="card">
        <div class="card-header">
            <h2>Novo Artigo</h2>
        </div>
        <div class="card-body">
            <form method="POST" action="/articles/save">
                <input class="form-control"  type="text" name="title" id="title" placeholder="Digite um título para o artigo">
                <br>
                <textarea class="form-control" name="body" id="article" cols="30" rows="10" placeholder="Descreva seu artigo"></textarea>

                <!-- O texto tem que ter até 256 caracteres, pois esta sendo salva em uma string, pois com o banco de dados do Oracle, não consegui colocar como TEXT, ja que não tem, o que me fez ter que colocar como string pq o resto não estava dando -->

                <br>
                <label>Categoria</label>
                <select name="category" class="form-control">
                    <% categories.forEach((category) =>{ %>
                        <option value="<%= category.id %>"><%= category.title %></option>
                    <% }) %>
                </select>
                <br>
                <button class="btn btn-success">Cadastrar</button>

            </form>
        </div>
    </div>
</div>

<%- include ('../../partials/footer.ejs') %>

<script src="/tinymce/js/tinymce/tinymce.min.js"></script>
<script>
        tinymce.init({
                language: 'pt_BR',
                selector: "#article",
                plugins: [
                    'advlist',
                    'autolink',
                    'link',
                    'image',
                    'lists',
                    'preview',
                    'hr',
                    'searchreplace',
                    'wordcount',
                    'fullscreen',
                    'insertdatetime',
                    'media',
                    'save',
                    'table',
                    'paste',
                    'emoticons',
                ]
            })
</script>